<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735808318384-m9nv075m9r8oj80mu99br6ui10jntc2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735808318384-m9nv075m9r8oj80mu99br6ui10jntc2d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>735808318384-777ugnbpd0upr1ucab5g28eu4oe7ou8g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Xphi9LWKfFDorlvR7W3oloG4FRIltC4</string>
	<key>GCM_SENDER_ID</key>
	<string>735808318384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.ott</string>
	<key>PROJECT_ID</key>
	<string>o-t-ts</string>
	<key>STORAGE_BUCKET</key>
	<string>o-t-ts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735808318384:ios:419930bbf0a2dd9c290475</string>
</dict>
</plist>